.download-app {
  width: 100%;
  padding-top: 286px;
  color: $white;
  background: url("../img/iphone-hand-mobile@1x.png");
  background-position: 50% 0;
  background-size: auto;
  background-repeat: no-repeat;

  @media (min-width: $tablet-width) {
    padding: 0;
    background-position: 100% 100%;
    background-size: 405px; //это временно
  }
}

.download-app__wrapper {
  min-width: 300px;
  margin: 0 auto;
  padding: 28px 20px;
  display: flex;
  flex-direction: column;
  background-color: $darken-blue;

  @media (min-width: $tablet-width) {
    width: 300px;
    padding: 12px 0;
    margin-left: 0;
    background-color: transparent;
  }
}

.download-app__slogan {
  display: none;
  margin: 0;
  padding: 0;

  @media (min-width: $tablet-width) {
    display: block;
    padding: 28px 30px;
    font-size: 40px;
    line-height: 1.2;
    font-weight: 300;
  }
}

.download-app__link {
  display: block;
  width: 280px;
  margin: 0 auto;
  padding: 15px;
  font-size: 18px;
  line-height: 18px;
  font-weight: 700;
  color: $white;
  text-decoration: none;
  text-align: center;
  border: 3px solid $white;
  border-radius: 27px;

  @media (min-width: $tablet-width) {
    width: 300px;
  }
}

.download-app__list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  flex-wrap: wrap;
  list-style: none;
}

.download-app__item {
  margin: 0;
  padding: 25px;
  width: 33%; // хз хз
  display: block;
  font-size: 12px;
}

.download-app__text {
  font-size: 14px;
  font-weight: 300;
  line-height: 24px;
  text-align: center;
}
