.effect-research {
  display: none;

  @media (min-width: $tablet-width) {
    display: block;
    width: 100%;
  }

  @media (min-width: $desktop-width) {
    background-color: $grey;
  }
}

.effect-research__wrapper {
  @include mobile-container;

  @media (min-width: $tablet-width) {
    @include tablet-container;
    display: flex;
    justify-content: space-between;
    padding-top: 59px;
    padding-bottom: 59px;
  }

  @media (min-width: $desktop-width) {
    @include desktop-container;
    padding-bottom: 69px;
  }
}

@media (min-width: $tablet-width) {
  .effect-research__diagram {
    display: block;
    flex-shrink: 0;
    width: 240px;
    height: 276px;
    padding-top: 75px;
    margin-right: 70px;
    color: $red;
    font-size: 96px;
    line-height: 150px;
    font-weight: bold;
    text-align: center;
    background:
      url("../img/icon-diagram-fill.svg"),
      url("../img/icon-timer.svg");
    background-repeat:
      no-repeat,
      no-repeat;
    background-size:
      202px auto,
      239px auto;
    background-position:
      50% 55px,
      0 0;

    @media (min-width: $desktop-width) {
      width: 300px;
      height: 345px;
      margin-right: 67px;
      padding-top: 97px;
      font-size: 120px;
      line-height: 187px;
      background-size:
        253px auto,
        299px auto;
      background-position:
        50% 69px,
        0 0;
    }
  }

  .effect-research__desc {
    padding-top: 35px;

    @media (min-width: $desktop-width) {
      padding-top: 95px;
    }
  }

  .effect-research__title {
    margin: 0;
    margin-bottom: 10px;
    padding: 0;
    font-size: 30px;
    line-height: 36px;
    font-weight: 700;
    color: $black;

    @media (min-width: $desktop-width) {
      margin-bottom: 25px;
      line-height: 30px;

      br {
        display: none;
      }
    }
  }

  .effect-research__text {
    margin: 0;
    padding: 0;
    color: $dark-blue;
    font-size: 14px;
    line-height: 24px;
    font-weight: 400;

    @media (min-width: $desktop-width) {
      font-size: 18px;
      line-height: 30px;
    }

    &--link {
      display: block;
      margin-top: 10px;
      color: $red;

      @media (min-width: $desktop-width) {
        margin-top: 30px;
      }
    }
  }
}
