.features {
  width: 100%;
  padding-top: 20px;
  text-align: center;
  background-color: $white;

  @media (min-width: $tablet-width) {
    padding-top: 50px;
  }
}

.features__desc {
  @include mobile-container;
  padding-bottom: 40px;

  @media (min-width: $desktop-width) {
    @include desktop-container;
    margin-bottom: 55px;
  }
}

.features__slogan {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: $fontsize;
  line-height: 1.2;
  font-weight: 300;

  @media (min-width: $tablet-width) {
    margin: 0;
    font-size: 40px;
  }

  @media (min-width: $desktop-width) {
    font-size: 50px;
  }
}

.features__wrapper {
  background: url("../img/bg-triangle-white.svg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: $grey;
}

.features__list {
  @include mobile-container;
  padding-top: 80px;
  padding-bottom: 330px;
  margin-bottom: -43px;
  list-style: none;
  background: url("../img/iphone-screen-mobile@1x.png");
  background-position: 50% 100%;
  background-repeat: no-repeat;

  @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
    background-image: url("../img/iphone-screen-mobile@2x.png");
    background-size: 157px auto;
  }

  @media (min-width: $tablet-width) {
    @include tablet-container;
    padding-left: 330px;
    padding-top: 80px;
    padding-bottom: 1px;
    text-align: left;
    background-image: url("../img/iphone-screen-3-tablet@1x.png");
    background-position: 20px 0;
    background-size: 268px auto;

    @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
      background-image: url("../img/iphone-screen-3-tablet@2x.png");
    }
  }

  @media (min-width: $desktop-width) {
    @include desktop-container;
    display: flex;
    justify-content: space-between;
    background: none;
  }
}

.features__item {
  margin-bottom: 31px;

  @media (min-width: $desktop-width) {
    padding: 20px 30px;
    padding-top: 350px;
    text-align: center;

    &--iphone1 {
      background: url("../img/iphone-screen-1-desktop@1x.png");
      background-repeat: no-repeat;
      background-position: 50% 0;
      background-size: auto;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-1-desktop@2x.png");
        background-size: 292px auto;
      }
    }

    &--iphone2 {
      background: url("../img/iphone-screen-2-desktop@1x.png");
      background-repeat: no-repeat;
      background-position: 50% 0;
      background-size: auto;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-2-desktop@2x.png");
        background-size: 292px auto;
      }
    }

    &--iphone3 {
      background: url("../img/iphone-screen-3-desktop@1x.png");
      background-repeat: no-repeat;
      background-position: 50% 0;
      background-size: auto;

      @media (min-resolution: $retina-dpi), (min-resolution: $retina-dppx) {
        background-image: url("../img/iphone-screen-3-desktop@2x.png");
        background-size: 292px auto;
      }
    }
  }
}

.features__title {
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  color: $black;
  font-weight: 700;

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 30px;
    margin-bottom: 25px;
  }
}

.features__text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
