.features {
  width: 100%;
  padding-top: 20px;
  text-align: center;
  background-color: $white;
}

.features__desc {
  padding: 10px 50px;
}

.features__slogan {
  margin: 0;
  margin-bottom: 20px;
  padding: 0;
  font-size: $fontsize;
  line-height: 1.2;
  font-weight: 300;
}

.features__wrapper {
  padding-top: 80px;
  padding-bottom: 300px;
  background:
    url("../img/iphone-screen-mobile@1x.png"),
    url("../img/bg-triangle-white.svg");
  background-position:
    50% 100%,
    50% 0;
  background-repeat:
    no-repeat,
    no-repeat;
  background-size:
    157px auto,
    100%;
  background-color: $grey;

  @media (min-width: $tablet-width) {
    padding-left: 320px;
    padding-bottom: 0;
    text-align: left;
    background-position:
      0 100%,
      50% 0;
    background-size:
      auto,
      100% auto;
  }

  @media (min-width: $desktop-width) {
    padding: 0;
    text-align: center;
    background: url("../img/bg-triangle-white.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100% auto;
    background-color: $grey;
  }
}

.features__list {
  @include mobile-container;
  list-style: none;

  @media (min-width: $desktop-width) {
    @include desktop-container;
    display: flex;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .features__item {
    padding: 20px 30px;
    padding-top: 350px;

    &--iphone1 {
      background: url("../img/iphone-screen-mobile@1x.png");
      background-repeat: no-repeat;
      background-position: 50% 0;
      background-size: auto;
    }

    &--iphone2 {
      background: url("../img/iphone-screen-mobile@1x.png");
      background-repeat: no-repeat;
      background-position: 50% 0;
      background-size: auto;
    }

    &--iphone3 {
      background: url("../img/iphone-screen-mobile@1x.png");
      background-repeat: no-repeat;
      background-position: 50% 0;
      background-size: auto;
    }
  }
}

.features__title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 24px;
  color: $black;
  font-weight: 700;

  @media (min-width: $desktop-width) {
    font-size: 30px;
    line-height: 30px;
    border-top: 2px solid $black;
  }
}

.features__text {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 24px;

  @media (min-width: $desktop-width) {
    font-size: 18px;
    line-height: 30px;
  }
}
