.footer-index {
  position: relative;
  width: 100%;
  max-height: 612px;
  display: flex;
  color: $dark-blue;
  background-color: $white;
}

.footer-index__map {
  position: absolute;
  z-index: -1;
  display: block;
  width: 100%;
  height: auto;
}

.footer-index__map iframe {
  position: absolute;
  top: 0;
  width: 100%;
  border: none;
}
