.footer-bottom {
  @include mobile-container;
  padding-bottom: 40px;

  &--index {
    display: none;
  }

  @media (min-width: $tablet-width) {
    @include tablet-container;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    &--index {
      padding-top: 36px;
    }
  }

  @media (min-width: $desktop-width) {
    @include desktop-container;
    padding-bottom: 40px;
    padding-top: 35px;

    &--index {
      padding-top: 70px;
    }
  }
}

.footer-bottom__logo {
  margin-bottom: 37px;
}

.footer-bottom__logo-icon {
  fill: $dark-blue;

  &:hover,
  &:focus {
    fill: $red;
  }

  &:active {
    fill: $dark-blue;
    opacity: 0.3;
  }

  &--desktop {
    display: none;
  }

  @media (min-width: $tablet-width) {
    &--tablet {
      display: block;
      fill: $dark-blue;
    }

    &--desktop {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    &--tablet {
      display: none;
    }

    &--desktop {
      fill: $dark-blue;
      display: block;
    }
  }
}

.footer-bottom__social-media {
  margin-bottom: 38px;

  @media (min-width: $tablet-width) {
    padding-top: 5px;
    padding-right: 12px;
  }

  @media (min-width: $desktop-width) {
    padding-right: 0;
  }
}

.footer-bottom__text {
  margin-right: 15px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    margin-right: 15px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.footer-bottom__copyright {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
    padding-top: 10px;
  }
}

.footer-bottom__copyright-icon {
  fill: $red;

  &:hover,
  &:focus {
    fill: $black;
  }

  &:active {
    opacity: 0.3;
  }
}
