.footer-bottom {
  @include mobile-container;
  padding-top: 40px;
  padding-bottom: 40px;

  &--index {
    display: none;
  }

  @media (min-width: $tablet-width) {
    @include tablet-container;
    padding-bottom: 36px;
    padding-top: 36px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &--index {
      display: flex;
      align-items: baseline;
    }
  }

  @media (min-width: $desktop-width) {
    @include desktop-container;
    padding-top: 40px;
    padding-bottom: 40px;
  }
}

.footer-bottom__logo {
  margin-bottom: 33px;
}

.footer-bottom__logo-icon {
  fill: $dark-blue;

  &:hover,
  &:focus {
    fill: $red;
  }

  &:active {
    fill: $dark-blue;
    opacity: 0.3;
  }

  &--desktop {
    display: none;
  }

  @media (min-width: $tablet-width) {
    &--tablet {
      display: block;
      fill: $dark-blue;
    }

    &--desktop {
      display: none;
    }
  }

  @media (min-width: $desktop-width) {
    &--tablet {
      display: none;
    }

    &--desktop {
      fill: $dark-blue;
      display: block;
    }
  }
}

.logo-glass {
  fill: $red;
}

.footer-bottom__social-media {
  margin-bottom: 38px;
}

.footer-bottom__text {
  margin-right: 15px;
  font-size: 14px;
  line-height: 18px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    margin-right: 15px;
  }
}

.footer-bottom__copyright {
  display: flex;
  justify-content: center;
  align-items: center;

  @media (min-width: $tablet-width) {
    justify-content: flex-end;
  }
}

.footer-bottom__copyright-icon {
  fill: $red;

  &:hover,
  &:focus {
    fill: $black;
  }

  &:active {
    opacity: 0.3;
  }
}
