.form {
  width: 100%;
}

.form__call {
  max-width: 820px;
  margin: 0 auto;
  padding: 0 20px;
  font-size: 14px;
  line-height: 30px;
  color: $dark-blue;
  text-align: center;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }
}

@media (min-width: $tablet-width) {
  .form__area {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
}

@media (min-width: $desktop-width) {
  .form__area {
    max-width: 940px;
    flex-direction: row;
    flex-wrap: wrap;
  }
}

.form__fieldset {
  padding: 42px 20px;
  border: none;

  &--progress,
  &--apps {
    background-color: $grey;
  }

  @media (min-width: $tablet-width) {
    padding: 0;
    margin: 30px 20px;
    background-color: $white;
    border: 2px solid #e5e5e5;

    &--name {
      border: none;
      order: 1;
    }

    &--progress {
      order: 4;
    }

    &--contacts {
      order: 3;
    }

    &--apps {
      order: 2;
    }

    &--emotions {
      order: 5;
    }
  }

  @media (min-width: $desktop-width) {
    width: 100%;

    &--name,
    &--apps {
      width: 430px;
    }
  }
}

@media (min-width: $desktop-width) {
  .form__fieldset-wrapper {
    padding: 45px 58px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &--name {
      height: 100%;
      padding: 0;
    }

    &--row {
      flex-direction: row;
      flex-wrap: wrap;
    }
  }
}

@media (min-width: $tablet-width) {
  .form__input-wrapper {
    width: 100%;
    display: flex;

    &--full-length {
      flex-wrap: wrap-reverse;
    }
  }
}

@media (min-width: $desktop-width) {
  .form__input-wrapper {
    &--full-length {
      width: 375px;
    }
  }
}

.form__label {
  display: block;
  padding: 0 23px;
  font-size: 14px;
  line-height: 30px;
  color: $red;
  text-transform: uppercase;
}

.form__legend {
  font-size: 14px;
  line-height: 18px;
  color: $red;
  text-align: center;
  text-transform: uppercase;

  &--contacts {
    display: none;
  }

  @media (min-width: $tablet-width) {
    padding: 0 32px;
    background-color: $white;

    &--contacts {
      display: block;
    }
  }
}

.form__input {
  width: 100%;
  flex-grow: 2;

  @media (min-width: $tablet-width) {
    width: auto;

    &--full-length {
      width: 100%;
    }
  }
}

.form__checkbox {
  position: relative;
  display: block;
  margin: 21px auto;
  padding-left: 70px;
  font-size: 18px;
  line-height: 30px;
  color: $dark-blue;
  cursor: pointer;

  &:hover .form__checkbox-indicator,
  &:focus .form__checkbox-indicator {
    border-color: $black;
  }

  &:active .form__checkbox-indicator {
    border-color: $hover-red;
  }

  @media (min-width: $tablet-width) {
    padding-left: 60px;
  }

  @media (min-width: $desktop-width) {
    width: 260px;
  }
}

.form__checkbox-indicator {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  width: 39px;
  height: 39px;
  background-color: transparent;
  border: 2px solid #e5e5e5;

  &--radio {
    border-radius: 50%;
  }
}

.form__radio {
  position: relative;
  margin: 21px 0;
  display: block;
  padding-left: 70px;
  font-size: 18px;
  line-height: 30px;
  color: $dark-blue;
  cursor: pointer;
}

.form__button-area {
  width: 100%;
  padding: 20px 20px;
  text-align: center;
  order: 999;

  @media (min-width: $tablet-width) {
    display: flex;
    justify-content: space-between;
    text-align: left;
  }
}

.form__button {
  font: inherit;
  width: 280px;
  padding: 19px 0;
  margin: 0;
  font-size: 18px;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 30px;
  color: $white;
  background-color: #2aab6d;
  border: none;
}

.form__footnote {
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;

  &--red {
    color: $red;
  }
}
