.main-menu {
  display: block;
  width: 100%;
  margin: 0;
  padding: 0;
}

.main-menu__list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $dark-blue;
}

.main-menu__item {
  margin: 0 auto;
  text-align: center;
  border-bottom: 1px solid #000000;
}

.main-menu__link {
  display: block;
  width: 100%;
  padding: 12px;
  font-size: 18px;
  line-height: 32px;
  font-weight: 700;
  text-decoration: none;
  text-transform: uppercase;
  color: $white;
  font-weight: bold;
  background-color: $dark-blue;
  box-shadow: inset 0px 1px 0px 0px rgba(252,252,252,0.15);
}
