.main-footer {
  width: 100%;
  color: $dark-blue;
  background-color: $white;
}

.main-footer__map {
  position: relative;
  display: block;
  width: 100%;
  height: 200px;
  overflow: hidden;

  &::before {
    //тут кароч тоже проблема с шириной
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: inherit;
    height: 62px;
    background: url("../img/bg-triangle-white-footer.svg");
    background-position: 0 0;
    background-repeat: no-repeat;
    background-size: 100%;
    background-color: transparent;
  }
}

@media (min-width: $tablet-width) {
  .main-footer__map {
    display: none;
  }
}

.main-footer__map iframe {
  width: 100%;
  border: none;
}

.main-footer__map img {
  width: 100%;
  height: auto;
}

.footer-bottom {
  max-width: 940px;
  margin: 0 auto;
  padding: 40px 20px;
  // align-items: center;
  &--index {
    display: none;
  }
}

@media (min-width: $tablet-width) {
  .footer-bottom {
    padding: 36px 20px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    &--index {
      display: flex;
    }
  }
}

@media (min-width: $desktop-width) {
  .footer-bottom {
    padding: 40px 120px;
  }
}
