.photocard {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  font-size: 14px;
  line-height: 24px;
  background-color: $grey;

  a {
    display: block;
    width: 100%;
  }

  @media (min-width: $tablet-width) {
    width: 48%;

    &--of-the-day {
      width: 100%;
    }
  }

  @media (min-width: $desktop-width) {
    width: 30%;

    &--of-the-day {
      width: 100%;
    }
  }
}

.photocard__image {
  width: 100%;
  padding: 0;
  margin: 0;

  img {
    width: 100%;
  }

  &--of-the-day {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}

.photocard__sticker {
  position: absolute;
  top: 0;
  right: 0;
  display: block;
  width: 140px;
  padding: 8px 19px;
  background-color: $red;
  color: $white;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.photocard__info {
  padding: 13px 18px;
  margin: 0;
  width: 100%;
  background-color: $grey;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-wrap: wrap;

    &--of-the-day .photocard__like {
      order: 2;
      width: auto;
      margin-left: auto;
    }
  }
}

.photocard__author {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-style: normal;
  order: 1;

  @media (min-width: $tablet-width) {
    margin-right: 5px;
  }
}

.photocard__time {
  margin: 0;
  padding: 0;
  font-size: 12px;
  font-weight: 300;
  text-transform: uppercase;
  order: 2;
}

.photocard__desc {
  width: 100%;
  min-height: 55px;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-weight: 400;
  order: 3;
}

.photocard__like {
  margin-bottom: 10px;
  display: flex;
  align-items: baseline;
  padding: 0;
  font-size: 12px;
  line-height: 24px;
  color: $red;
  order: 4;

  @media (min-width: $tablet-width) {
    width: 100%;
    justify-content: space-between;
    align-self: flex-end;
  }
}

.photocard__button {
  width: 13px;
  height: 12px;
  margin: 0;
  margin-right: 19px;
  padding: 0;
  align-self: center;
  border: none;
  background-image: url("../img/icon-heart.svg");
  background-repeat: no-repeat;
  background-color: transparent;
  cursor: pointer;

  svg {
    fill: $red;
  }

  @media (min-width: $tablet-width) {
    order: 2;
    margin-left: 19px;
  }
}

.photocard__liked {
  margin: 0;
  padding: 0;
}
