.photocard {
  min-width: 280px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: flex-start;
  font-size: 14px;
  line-height: 24px;
  background-color: $grey;

  &--of-the-day {
    position: relative;
    width: 100%;
    flex-grow: 5;
    display: block;
  }
}

@media (min-width: $tablet-width) {
  .photocard {
    width: 300px;

    &--of-the-day {
      width: 100%;
    }
  }
}

.photocard a {
  display: block;
  width: 100%;
}

.photocard__image img {
  width: 100%;
}

.photocard__image {
  width: 100%;
  padding: 0;
  margin: 0;

  &--of-the-day {
    width: 100vw;
    position: relative;
    left: 50%;
    right: 50%;
    margin-left: -50vw;
    margin-right: -50vw;
  }
}

.photocard__sticker {
  position: absolute;
  top: 0;
  right: 10%;
  display: block;
  width: 140px;
  padding: 8px 19px;
  background-color: $red;
  color: $white;
  font-size: 12px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
}

.photocard__info {
  padding: 18px;
  margin: 0;
  width: 100%;
  background-color: $grey;
}

.photocard__author {
  margin: 0;
  padding: 0;
  font-weight: 700;
  font-style: normal;
}

.photocard__time {
  margin: 0;
  padding: 0;
  font-weight: 300;
}

.photocard__desc {
  margin: 0;
  padding: 0;
  font-weight: 400;
}

.photocard__like {
  margin-top: auto;
  padding: 0;
  color: $red;
}
