.price {
  width: 100%;
  background-color: $white;
  padding-top: 7px;

  @media (min-width: $tablet-width) {
    padding: 0px;
  }
}

.price__wrapper {
  padding-top: 88px;
  background: url("../img/bg-triangle-white.svg");
  background-position: 50% 0;
  background-repeat: no-repeat;
  background-size: 100%;
  background-color: $grey;
  overflow: hidden;

  @media (min-width: $desktop-width) {
    padding-top: 150px;
  }
}

.price__table {
  min-width: 262%;
  border-color: #e5e5e5;

  &--first {
    margin-left: 0;
  }

  &--second {
    margin-left: -81%;
  }

  &--third {
    margin-left: -62%;
  }

  @media (min-width: $tablet-width) {
    @include tablet-container;
    width: 100%;
    margin-bottom: 68px;
  }

  @media (min-width: $desktop-width) {
    @include desktop-container;
    margin-bottom: 95px;
  }
}

.price__cell {
  position: relative;
  padding: 15px 22px;
  background: url("../img/icon-yes.svg");
  background-repeat: no-repeat;
  background-size: auto;
  background-position: 93% 50%;
  background-color: $white;
  overflow: hidden;

  &--none {
    display: none;
    background-color: transparent;
    border: none;
  }

  &--first {
    display: none;
  }

  &--header {
    padding: 0 22px;
    padding-top: 19px;
    padding-bottom: 21px;
    color: $white;
    background-image: none;
    background-color: $darken-blue;
  }

  &--off {
    background: url("../img/icon-no.svg");
    background-repeat: no-repeat;
    background-size: auto;
    background-position: 92% 50%;
    background-color: $white;
  }

  @media (min-width: $tablet-width) {
    min-width: 154px;
    padding: 8px 18px;
    background-position: 50% 50%;

    &--first {
      display: block;
      padding-left: 15px;
      background-image: none;
    }

    &--none {
      display: block;
      background: transparent;
    }
  }

  @media (min-width: $desktop-width) {
    min-width: 235px;
    padding: 0 24px;
    padding-top: 16px;
    padding-bottom: 13px;

    &--header {
      padding-top: 16px;
      padding-bottom: 20px;
    }
  }
}

.price__title {
  margin: 0;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  color: $white;
  font-weight: 700;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    font-size: 16px;
  }

  @media (min-width: $desktop-width) {
    font-size: 18px;
  }
}

.price__hit {
  position: absolute;
  top: 12px;
  left: -37px;
  width: 120px;
  background-color: #d22856;
  font-size: 14px;
  line-height: 30px;
  font-weight: 500;
  text-transform: uppercase;
  transform: rotate(-45deg);

  @media (min-width: $tablet-width) {
    top: 2px;
    left: -40px;
  }

  @media (min-width: $desktop-width) {
    top: 10px;
    left: -37px;
  }
}

.price__coast {
  margin: 0;
  padding: 0;
  font-size: $fontsize;
  line-height: 30px;
  color: $white;
  font-weight: 300;

  @media (min-width: $tablet-width) {
    font-size: 18px;
  }

  @media (min-width: $desktop-width) {
    font-size: $fontsize;
  }
}

.price__option-name {
  margin: 0;
  padding: 0;
  font-size: 14px;
  line-height: 30px;
  text-transform: uppercase;

  @media (min-width: $tablet-width) {
    display: none;

    &--first {
      display: block;
      text-transform: none;

      @media (min-width: $desktop-width) {
        font-size: 18px;
      }
    }
  }
}
