.reviews {
  width: 100%;
  background: $white;
}

.reviews__wrapper {
  @include mobile-container;
  padding-top: 40px;
  position: relative;
  text-align: center;

  @media (min-width: $tablet-width) {
    @include tablet-container;
  }

  @media (min-width: $desktop-width) {
    @include desktop-container;
  }
}

.reviews__item {
  padding: 0;
  margin: 0 auto;

  @media (min-width: $tablet-width) {
    display: flex;
    flex-direction: column;
  }

  @media (min-width: $desktop-width) {
    max-width: 740px;
    padding-top: 180px;
  }
}

.reviews__author {
  display: block;
  margin: 0;
  margin-bottom: 10px;
  padding: 0;
  font-size: 18px;
  line-height: 30px;
  color: $black;
  font-style: normal;
  font-weight: 700;
  order: 2;

  &--options {
    display: none;
    order: 3;
  }

  @media (min-width: $tablet-width) {
    font-size: 20px;
    margin-bottom: 0;

    &--options {
      display: block;
      margin: 0;
      padding: 0;
      font-size: 14px;
      font-weight: 400;
    }
  }

  @media (min-width: $desktop-width) {
    font-size: $fontsize;

    &--options {
      display: block;
      margin: 0;
      padding: 0;
      font-size: 18px;
      font-weight: 400;
    }
  }
}

.reviews__text {
  margin: 0 auto;
  padding: 0;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    margin-bottom: 45px;
  }
}
