.social-media__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-grow: 2;
  justify-content: center;
  list-style: none;
}

.social-media__button {
  margin: 0 7px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  border: 3px solid #e9ebec;
  border-radius: 50%;
  fill: $red;

  &:hover,
  &:focus {
    border: 3px solid $black;
  }

  &:active {
    border: 3px solid #e9ebec;
    opacity: 0.3;
  }
}
