.upload {
  width: 100%;
  padding-top: 30px;
  color: $dark-blue;
  background-color: $white;
  text-align: center;

  @media (min-width: $tablet-width) {
    padding-top: 58px;
  }

  @media (min-width: $desktop-width) {
    @include desktop-container;
    padding-top: 48px;
  }
}

.upload__call {
  margin: 0;
  margin-bottom: 40px;
  padding: 0 20px;
  font-size: 14px;
  line-height: 30px;
  font-weight: 400;
  color: $dark-blue;
  background-color: $white;

  @media (min-width: $tablet-width) {
    font-size: 18px;
    margin-bottom: 70px;
  }

  @media (min-width: $desktop-width) {
    margin-bottom: 60px;
  }
}

.upload__wrapper {
  @include mobile-container;
  padding-top: 20px;
  background-color: $grey;
  overflow: hidden;

  @media (min-width: $tablet-width) {
    @include tablet-container;
    padding-top: 57px;
    padding-bottom: 57px;
    display: flex;
  }

  @media (min-width: $desktop-width) {
    padding-left: 80px;
    padding-right: 60px;
  }
}

.upload__form {
  @media (min-width: $tablet-width) {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
}

.upload__img {
  @media (min-width: $tablet-width) {
    margin-right: 48px;
  }
}

.upload__edit {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0 20px;

  @media (min-width: $tablet-width) {
    padding: 0;
  }
}

.upload__edit-icons {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 0;

  @media (min-width: $tablet-width) {
    width: 25px;
  }

  @media (min-width: $desktop-width) {
    width: 48px;
  }
}

.upload__range-area {
  display: block;
  width: 100%;

  @media (min-width: $tablet-width) {
    width: auto;
    flex-grow: 2;
  }
}

.upload__range-controls {
  display: none;
  width: 100%;
  position: relative;
  padding-bottom: 34px;
  margin-bottom: 38px;

  &--active {
    display:block;
  }

  &::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    width: 150%;
    margin-left: -20%;
    background-color: #dddfe0;
  }

  @media (min-width: $tablet-width) {
    display: block;
    border: none;
    margin: 0;
    margin-bottom: 23px;
    padding: 0;
    padding-top: 23px;

    &::after {
      width: 100%;
      bottom: -23px;
      margin-left: 0;
    }
  }
}

.upload__icon {
  opacity: 0.3;

  svg {
    width: 60px;
    fill: $dark-blue;
  }

  &:hover,
  &:focus {
    opacity: 0.5;
  }

  &--active {
    opacity: 1;

    svg {
      fill: $red;
    }
  }

  @media (min-width: $tablet-width) {
    opacity: 1;
    height: 47px;

    svg {
      width: 25px;
      fill: $red;
    }
  }

  @media (min-width: $desktop-width) {
    margin-right: 47px;

    svg {
      width: 45px;
    }
  }
}

.upload__instrument {
  margin: 30px 10px;

  @media (min-width: $tablet-width) {
    width: 100%;
    display: flex;
    margin: 0;
    border-bottom: 1px solid #dddfe0;
  }
}

.upload__range-scale {
  margin: 0 auto;
  width: 100%;
  height: 2px;
  background-color: $dark-blue;

  @media (min-width: $tablet-width) {
    width: 100%;
  }
}

.upload__range-toggle {
  position: absolute;
  top: -6px;
  left: 200px;
  width: 14px;
  height: 14px;
  background-color: $white;
  border: 2px solid $red;
  border-radius: 50%;

  &:hover,
  &:focus {
    background-color: $red;
  }

  @media (min-width: $tablet-width) {
    top: 17px;
    left: 100px;
  }
}

.upload__button-wrapper {
  width: 100%;
  align-self: flex-end;

  @media (min-width: $desktop-width) {
    display: flex;
    justify-content: space-between;
  }
}

.upload__button {
  width: 100%;
  padding: 12px 0;
  margin-bottom: 12px;
  font: inherit;
  font-size: 18px;
  line-height: 18px;
  font-weight: bold;
  background-color: $grey;
  border: 3px solid $red;
  border-radius: 20px;

  &--submit {
    color: $red;

    &:hover,
    &:focus {
      color: $white;
      background-color: $red;
    }

    &:active {
      color: rgba($white, 0.3);
    }
  }

  &--reset {
    margin-bottom: 40px;
    color: $dark-blue;
    border-color: $dark-blue;
    opacity: 0.1;

    &:hover,
    &:focus {
      opacity: 0.3;
    }

    &:active {
      opacity: 0.3;
      color: rgba($white, 0.3);
      background-color: $dark-blue;
    }
  }

  @media (min-width: $tablet-width) {
    &--reset {
      margin: 0;
    }
  }

  @media (min-width: $desktop-width) {
    width: 183px;
    margin: 0;
  }
}
